<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=594370410691941&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<% publisher = @article.link_identifier[/[a-z]{1,}\Wcom/] %>
<div class="<%=publisher[/^[a-z]{1,}/]%> container">


  <p id="notice"><%= notice %></p>


  <div class="row">
    <hr class="top-hr" />
      <div class="headline">
        <div class="col-xs-3 source"><%= link_to publisher[/^[a-z]{1,}/].upcase, @article.link_identifier, :target => "_blank" %></div>
        <div class="col-xs-6 logo"><%= link_to(raw("<i class='fa fa-newspaper-o fa-1x'></i> READABLE"), root_url) %></div>
        <div class="col-xs-3 category"><%= @categories.first.category_name.upcase %></div>
      </div>
  </div>


  <div class="row">
    <div class="col-sx-12">
      <hr class="bottom-hr" />
      <div class="jumbotron main-img-url">
        <div class="img-title">
          <h1 og:title><%= @article.title %></h1>
          <%= image_tag @article.main_img_url %>
        </div>
      </div>
    </div>
  </div>

  <div class="row content">
    <div class="col-md-3 side-bar">

      <div class="social">
        <div class="fb-share-button" data-href="http://readable-app.herokuapp.com/articles/<%= @article.id %>" data-layout="icon"></div>
        <i class="fa fa-facebook-square fa-3x"></i>
        <i class="fa fa-twitter-square fa-3x"></i>
        <i class="fa fa-pinterest-square fa-3x"></i>
        <i class="fa fa-envelope fa-3x"></i>
      </div>

      <div class="written-by">
        <p><strong>WRITTEN BY</strong></p>
        <p><%= @article.author %></p>
      </div>

      <div class="pub-date">
        <p><strong>PUBLISHED DATE</strong></p>
        <p><%= @article.pub_date.strftime("%A, %b %e %Y") %></p>
      </div>

      <div class="content-category">
        <p><strong>CATEGORY</strong></p>
        <% @categories.order("category_name ASC").each do |category| %>
        <p><%= category.category_name %></p>
        <% end %>
      </div>

      <div class="source-link">
        <p><strong><%= link_to "SOURCE", @article.link_identifier, :target => "_blank" %></strong></p>
      </div>

    </div>


    <div class="col-md-9 main-content">
      <%= raw @article.content %>
    </div>

  </div>

  <br />

  <%= link_to 'Edit', edit_article_path(@article) %> |
  <%= link_to 'Back', articles_path %>
</div>


