<div class="landing-landing" ng-controller="ArticleCtrl">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "Readable App", root_path, :class => "navbar-brand" %>
      </div>
      <ul class="nav navbar-nav navbar-right" id="user-widget">
        <li>
        <% if current_user %>
          Welcome <strong><%= current_user.name %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
        <% else %>
          <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
        <% end %>
        </li>
      </ul>
    </div>
  </nav>


  <div class="landing-container">
    <%= video_tag "background.webm", :autobuffer => true, :autoplay => true, :loop => true, :poster => "background.png", :id => "bgvid" %>

    <div class="container">
      <div class="row input-bar">
        <div class="col-xs-6 col-xs-offset-3">
          <input type="text" ng-model="search" class="col-xs-6" placeholder="Search">
          <select class="col-xs-3" ng-model="category">
            <option ng-repeat="category in categories" value="{{category.category_name}}">{{category.category_name}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="landing-articles">
      <div class="container articles-container">
        <div class="row articles-container">
          <div class="col-xs-4 readable-article" ng-repeat="article in articles | filter: search | filter: { categories: category }">
            <div class="landing-main-img-url"><img ng-src="{{article.main_img_url}}" alt="{{article.title}}"></div>
            <div class="landing-title"><h1><a href="/articles/{{article.id}}">{{article.title}}</a></h1></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>